@import "tailwindcss";
@plugin "daisyui";

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.font-mulish {
  font-family: "Mulish", sans-serif;
}
.font-plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

a.active button {
  font-weight: 700;
  border-radius: 0;
  border-bottom: 2px solid black;
}
